Create model
-----

In [1]:
import pandas as pd
import numpy as np

In [2]:
adult = pd.read_csv('/data/adult.csv')

In [3]:
adult.sample(5)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
1188,30,State-gov,157990,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,<=50K
1733,18,?,142043,11th,7,Never-married,?,Other-relative,White,Male,0,0,15,United-States,<=50K
6388,19,State-gov,136848,Some-college,10,Never-married,Adm-clerical,Own-child,White,Female,0,0,8,United-States,<=50K
3194,55,Private,322691,Masters,14,Widowed,Exec-managerial,Own-child,White,Male,0,0,62,United-States,>50K
21687,90,Private,51744,Masters,14,Never-married,Exec-managerial,Not-in-family,Black,Male,0,0,50,United-States,>50K

In [6]:
target = 'income'

In [8]:
adult[target] = adult[target].replace({'<=50K':0, '>50K':1})

In [9]:
cols_to_keep = adult.select_dtypes('number').columns
cols_to_keep

Index(['age', 'fnlwgt', 'educational-num', 'capital-gain', 'capital-loss',
       'hours-per-week', 'income'],
      dtype='object')

In [29]:
def get_columns_to_keep():
    return ['age', 'fnlwgt', 'educational-num', 'capital-gain', 'capital-loss', 'hours-per-week']

def transform_dict_to_df(df_dict):
    """
    """    
    columns = list(df_dict.keys())
    values = list(df_dict.values())
    
    df = pd.DataFrame([values], columns=columns)
    
    return df

def prepare_data(df):
    """
    """
    if type(df) == dict:
        df = transform_dict_to_df(df)
    if type(df) == list:
        rows = list()
        for row in df:
            rows.append(transform_dict_to_df(row))
        df = pd.concat(rows)
    
    cols_to_keep = get_columns_to_keep()
    df = df[cols_to_keep]
    
    # Missing values
    df = df.fillna(0)
    
    return df.values

In [30]:
X = adult.drop(columns=target)
Y = adult[target].values

In [31]:
X = prepare_data(X)

In [32]:
from sklearn.ensemble import RandomForestClassifier

In [35]:
clf = RandomForestClassifier(max_depth=4, random_state=42)
clf.fit(X,Y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=4, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

In [36]:
clf.predict(X[10:50])

array([1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [37]:
import pickle

In [38]:
filename = 'model.pkl'
with open(filename, 'wb') as file:
    pickle.dump(clf, file)
file.close()